<footer class="pt-4 mt-8 text-center text-xs">
  <hr>
  <div>
    © {{ site.time | date: "%Y" }} Kyle Keesling
  </div>
  <div>
    Built using <a href="https://www.bridgetownrb.com">Bridgetown</a> w/ source
    <a href="https://github.com/kylekeesling/website" title="This site's git repo" class="text-grey-darker">available
      on GitHub</a>
  </div>
  <br><br>
</footer>
