<nav>
  <div class="bg-blue-dark pt-5 px-8 pb-10 text-white shadow-md" id="header">
    <a href="/">
      <img src="/images/logo.png" style="height: 50px;" alt="Kyle Keesling">
    </a>
    <div>an Indianapolis-based Rubyist <wbr>& Full-stack Developer</div>

    <ul class="list-reset pt-4">
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="/">
          <i class="fa fa-home"></i> Home
        </a>
      </li>
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="/about" title="About Kyle">
          <i class="fa fa-info-circle"></i> About
        </a>
      </li>
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="http://twitter.com/kylekeesling" title="Twitter">
          <i class="fa fa-twitter"></i> Twitter
        </a>
      </li>
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="http://github.com/kylekeesling" title="GitHub">
          <i class="fa fa-github"></i> Github
        </a>
      </li>
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="https://store.kylekeesling.com" title="My Courses">
          <i class="fa fa-university"></i> Courses
        </a>
      </li>
      <li class="float-left pr-4">
        <a class="text-white hover:text-grey-400" href="/feed.xml" title="Subscribe">
          <i class="fa fa-rss"></i> RSS
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="rounded-md bg-blue-lightest p-2 mb-4 border-b-1 border-grey-dark">
  <div class="flex">
    <div class="ml-3 flex-1 md:flex md:justify-between">
      <p class="text-sm text-blue">
        <a href="https://store.kylekeesling.com/stripe-on-rails">
          I'm currently developing <strong>The Complete Guide to Stripe Invoicing & Subscriptions with Ruby on
            Rails</strong>. Sign up for updates to know when it's ready →
        </a>
      </p>
    </div>
  </div>
</div>
